{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!including presentation -> folder partials/presentation.hbs}}
{{> "presentation"}}

{{! The main content area on the homepage }}
<section id="content" class="content___loop inner-box">
  {{! The tag below includes the post loop -> folder partials/loop.hbs }}
  {{> "loop"}}
</section>