/*resetting tags for the theme up*/
* {
  box-sizing: border-box;
}
body {
  background-color: #f4f2f2;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 25px;
}
h1 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000017;
  font-family: 'Montserrat', sans-serif;
  margin: .4em 0;
}
h1 {
  font-size: 4em;
  line-height: 1.2em;
  margin: 0.67em 0 0 0;
}
h2 {
  font-size: 3em;
  line-height: 1.2em;
}
h3 {
  font-size: 2.5em;
  line-height: 1.2em;
}
h4 {
  font-size: 2em;
  line-height: 1.2em;
}
h5 {
  font-size: 1.5em;
  line-height: 1.2em;
}
h6 {
  font-size: 1em;
  line-height: 1.2em;
}
a {
  color: #0e83a9;
  transition: .500s;
}
a:hover {
  color: #075f7c;
}
a:visited {
  color: #1d5669;
}
blockquote {
  border-left: 4px solid #191919;
  color: #787878;
  padding-left: 16px;
  margin: 0 0 0 1em;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
pre,
code {
  background-color: #F5F7F8;
  font-size: 15px;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  background-color: #eef;
}
code {
  color: #c25;
  padding: 1px 5px;
  vertical-align: middle;
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1em;
}
pre {
  overflow-x: auto;
}
pre > code {
  border: 0;
  color: inherit;
  padding-right: 0;
  padding-left: 0;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: transparent;
  border: none;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-moz-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: #1986aa;
}
/**********************************END*******************************************/
/*styles for menu navigation*/
/*styles for classes headroom*/
.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform, opacity;
}
@-webkit-keyframes swingInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
  }
}
@-moz-keyframes swingInX {
  0% {
    -moz-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
  }
}
@-o-keyframes swingInX {
  0% {
    -o-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
  }
}
@keyframes swingInX {
  0% {
    transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}
.animated.swingInX {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: swingInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: swingInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: swingInX;
  backface-visibility: visible !important;
  animation-name: swingInX;
}
@-webkit-keyframes swingOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(-90deg);
  }
}
@-moz-keyframes swingOutX {
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(-90deg);
  }
}
@-o-keyframes swingOutX {
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -o-transform: perspective(400px) rotateX(-90deg);
  }
}
@keyframes swingOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    transform: perspective(400px) rotateX(-90deg);
  }
}
.animated.swingOutX {
  -webkit-transform-origin: top;
  -webkit-animation-name: swingOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: swingOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: swingOutX;
  -o-backface-visibility: visible !important;
  animation-name: swingOutX;
  backface-visibility: visible !important;
}
.headroom {
  background: #40bee8;
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom--pinned {
  transform: translateY(0);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.header--fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}
/*styles for class navigation*/
.navigation {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  font-family: 'Droid Sans', sans-serif;
}
/*styles for the inner container navigation*/
.box-inner-navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* styles for the logo */
.logo {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 0;
}
.logo a img {
  height: 41px;
}
/*styles for the application name*/
.name-app {
  display: block;
  color: #000017;
  margin-top: 15px;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 700;
}
.name-app:hover {
  color: #00004a;
}
/*styles for the menu*/
.nav-menu {
  padding-left: 0;
  padding-top: 9px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-menu .nav-menu-item {
  display: inline-block;
}
.nav-menu .nav-menu-item:last-child {
  margin-right: 0;
}
.nav-menu .nav-menu-item a {
  color: #010210;
  text-transform: uppercase;
  display: block;
  padding: .65em 1em;
  text-decoration: none;
  line-height: 18px;
  transition: .700s;
}
.nav-menu .nav-menu-item a:hover {
  background: #1587ad;
  color: #ffffff;
  text-decoration: underline;
}
/*menu icon for mobile devices*/
.nav-icon-mobile {
  display: none;
}
/*styles for selected item*/
.item-current {
  background: #127596;
  border-radius: 3px;
}
.item-current a {
  color: #ffffff !important;
}
/**********************************END*******************************************/
/*styles for presentation*/
.presentation-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: thin solid #062e6f;
  position: relative;
  padding-top: 56px;
  min-height: 450px;
}
/*styles for form search*/
.form-search {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 1.5em;
}
.form-search input[type="text"] {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  border: thin solid #003d79;
  padding: .2em .2em .2em 1.6em;
  margin-top: 0;
  height: 35px;
  width: 250px;
}
.form-search input[type="text"]:focus {
  outline: none;
}
.form-search .box-field {
  position: relative;
}
.form-search .icon-search {
  color: #003d79;
  position: absolute;
  left: .5em;
  top: .6em;
}
/*container results*/
.container-results {
  background: #23222d;
  border-top: thin solid #ffffff;
  border-bottom: thin solid #ffffff;
  cursor: zoom-in;
  margin-top: 50px;
  padding: 25px 1.5em 25px 0;
  position: relative;
  min-height: 300px;
  max-height: 500px;
  width: 100%;
  z-index: 98;
}
.btn-results-close {
  background-color: #23222d;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border: thin solid #ffffff;
  border-bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em !important;
  padding: 5px 10px;
  position: absolute;
  right: 68px;
  top: -43px;
  z-index: 97;
}
/*List container*/
.list-results {
  background: transparent;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 .5em 0 .5em;
  margin: 0 1.5em 0 0;
  min-height: 350px;
  max-height: 450px;
}
.list-results li p {
  font-size: 1.3em;
  position: relative;
}
.list-results li p::before {
  color: #ffffff;
  position: absolute;
  left: 0;
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 1em;
  margin-right: .5em;
}
.list-results li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding-left: 1.5em;
}
.list-results li a:hover {
  text-decoration: underline;
}
.list-results .number-posts {
  color: #ffffff;
}
/*container of the title, description and date*/
.presentation-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.presentation-content .page-title,
.presentation-content .post-title {
  text-shadow: 4px 2px 1px #ffffff;
}
.presentation-content .page-description,
.presentation-content .post-date {
  display: block;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.presentation-content .page-description {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}
.no-cover {
  background: #a5ccfb;
}
/*loop styles*/
.content___loop {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
}
.content___loop .first-post {
  position: relative;
}
.content___loop .first-post .first-article-text {
  background-color: #14bdff;
  border: 1px solid #006a93;
  border-bottom: 2px solid #006a93;
  color: #000017;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.content___loop .post {
  background: #ffffff;
  box-shadow: 5px 5px 3px 0px rgba(50, 50, 50, 0.75);
  border: thin solid #006a93;
  margin-top: 3em;
  position: relative;
  width: 30%;
}
.content___loop .post .box-images {
  position: relative;
  line-height: 0;
}
.content___loop .post .author-thumb {
  display: block;
  border: 3px solid #00000d;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  margin-bottom: 0;
  overflow: hidden;
  height: 40px;
  width: 40px;
}
.content___loop .post .img-author-default {
  background: #ffffff;
}
.content___loop .post .author-name {
  display: block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  text-indent: -666em;
  overflow: hidden;
}
.content___loop .post .inner {
  padding: 0 .7em .7em .7em;
}
.content___loop .post .post-title {
  color: #000017;
  font-size: 2em;
  line-height: 1.1em;
  margin-top: .8em;
  margin-bottom: .3em;
}
.content___loop .post .post-title:hover {
  text-decoration: underline;
  color: #000031;
}
.content___loop .post .post-title a {
  color: inherit;
  text-decoration: none;
}
.content___loop .post .post-date {
  color: #4B4B4B;
}
.content___loop .post .post-excerpt p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  padding-bottom: 1em;
}
.content___loop .post .read-more {
  background: white;
  border: thin solid #1f4f89;
  -webkit-box-shadow: 5px 5px 0px 0px #1f4f89;
  -moz-box-shadow: 5px 5px 0px 0px #1f4f89;
  box-shadow: 5px 5px 0px 0px #1f4f89;
  position: absolute;
  bottom: -22px;
  left: 50%;
  margin-left: -67.5px;
  padding: .7em 1em;
  text-decoration: none;
  transition: .500s;
  width: 135px;
}
.content___loop .post .read-more:hover {
  background-color: #255da2;
  border: thin solid #ffffff;
  color: #ffffff;
  text-decoration: underline;
}
/*styles for post and page*/
.page-content,
.article-content {
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 900px;
}
.body-content p {
  line-height: 30px;
}
.article .line {
  margin: 1.5em 0;
}
/*tags*/
.tag-links a {
  background: #44BBF3;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  display: inline-block;
  padding: 3px 10px;
}
.post-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 2em 0;
}
.post-footer .author-image {
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 4px solid #00000d;
  display: inline-block;
  margin: 0;
  height: 200px;
  width: 200px;
}
.post-footer .author-image .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  display: block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  text-indent: -666em;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.post-footer .author {
  width: 70%;
}
.post-footer .share {
  text-align: center;
  border: thin solid #006a93;
  padding: 10px;
  margin: 1em 0;
  width: 100%;
}
.post-footer .share .icon-share {
  text-decoration: none;
  font-size: 3em;
}
aside.read-next {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
aside.read-next div {
  width: 100%;
}
.read-next-story {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: thin solid #006a93;
  color: #191919;
  text-decoration: none;
  position: relative;
  height: 350px;
  width: 100%;
}
.read-next-story .post {
  display: table-cell;
  vertical-align: middle;
  border: 1em solid transparent;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: 1.5s;
  height: 350px;
  width: 100%;
}
.read-next-story .post:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1em solid rgba(0, 0, 0, 0.6);
}
.read-next-story .post h2 {
  font-size: 1.8em;
}
.read-next-story .post p {
  background: rgba(255, 255, 255, 0.5);
  color: #006a93;
  padding: 3px;
}
.next .post {
  padding-left: 5em;
  padding-right: 1em;
}
.next::before {
  color: #0e83a9;
  content: "\f104";
  font-family: 'FontAwesome';
  font-size: 12em;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -16px;
}
.prev .post {
  padding-right: 5em;
  padding-left: 1em;
}
.prev::after {
  color: #0e83a9;
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 12em;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -16px;
}
/*progress reading*/
.progress-reading {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 102;
}
/*contact from*/
.from-contact {
  display: block;
  width: 100%;
}
.from-contact .title-contacto {
  display: inline-block;
  position: relative;
  margin-bottom: .8em;
}
.from-contact .title-contacto::before {
  content: "";
  border: 3px solid #000017;
  position: absolute;
  bottom: -0.2em;
  width: 25%;
}
.from-contact .form-imput input,
.from-contact .form-imput textarea {
  font-size: 1.2em;
  padding: .5em;
  margin-bottom: 1.5em;
  height: 55px;
  width: 100%;
}
.from-contact .form-imput textarea {
  height: 250px;
}
.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
}
.newer-posts,
.older-posts {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
  background-color: #f9f9f9;
  border: 1px solid #707070;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #ffffff;
  color: #171515;
  padding: .5em 1em;
  text-decoration: none;
}
.newer-posts:hover,
.older-posts:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
  background-color: #e9e9e9;
  text-decoration: underline;
}
.newer-posts:active,
.older-posts:active {
  position: relative;
  top: 1px;
}
.page-number {
  display: inline-block;
  color: #494949;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}
.box-newer-posts,
.box-older-posts,
.page-number {
  width: 33%;
}
.box-older-posts {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.author-template .author-image {
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 4px solid #00000d;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-top: 0;
  margin-right: 0;
  margin-left: -60px;
  margin-bottom: -60px;
  height: 120px;
  width: 120px;
}
.author-template .author-image .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  display: block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  text-indent: -666em;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.author-template .author-profile {
  padding-top: 4em;
  padding-bottom: 0;
}
.author-template .author-meta {
  text-align: center;
  font-size: 1.5em;
}
.author-template .author-meta span {
  margin-left: .7em;
}
.site-footer {
  background: #0f0f0f;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
}
.container-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.description p,
.copyright-and-social-networks p {
  margin: 0;
}
.title-footer {
  display: inline-block;
  color: #006a93;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: .5em;
  padding-bottom: .3em;
}
.title-footer::before {
  content: "";
  border: 3px solid #006a93;
  position: absolute;
  bottom: -0.2em;
  width: 25%;
}
.description {
  width: 50%;
}
.copyright-and-social-networks {
  text-align: right;
  width: 50%;
}
.social-networks {
  margin-top: 1em;
}
.social-networks a {
  background: transparent;
  border-radius: 50%;
  border: 2px solid #00ca65;
  display: inline-block;
  padding: 10px 12px 10px 10px;
  margin-right: .5em;
  margin-bottom: .5em;
  height: 45px;
  width: 45px;
}
.social-networks a:hover {
  border: 2px solid #BBB9B9;
}
.social-networks a:last-child {
  margin-right: 0;
}
/*styles for cookies policy*/
.barra-aceptacion-cookie {
  background: rgba(42, 42, 42, 0.9);
  border-top: thin solid #606060;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: .5em 1em;
  width: 100%;
  z-index: 104;
}
.barra-aceptacion-cookie p {
  color: #12B6F3;
  font-size: .8em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: normal;
}
.barra-aceptacion-cookie a,
.barra-aceptacion-cookie a:hover {
  color: #fff;
}
.barra-aceptacion-cookie .btn-cookie {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  cursor: pointer;
  color: #333333;
  font-size: 1em;
  font-weight: 700;
  padding: 0 10px;
  text-decoration: none;
}
/*styles to button up*/
.button-up {
  background-color: #1aabdb;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border: thin dotted #ffffff;
  border-bottom: none;
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 105;
}
.button-up:hover {
  -webkit-box-shadow: 0px -2px 5px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px -2px 5px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px -2px 5px 0px rgba(255, 255, 255, 0.5);
}
.button-up i {
  color: #191919;
  font-size: 2.5em;
  padding: 0 7px;
}
.box-inner,
.layout-post {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}
/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
.clearfix {
  clear: both;
}
.line {
  background: #006a93;
  margin: 5px 0;
  height: 2px;
  width: 100%;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.image-source-link {
  color: #FA2D4F;
  font-weight: 700;
}
.image-source-link:visited {
  color: #FA2D4F;
}
.mfp-title {
  text-align: center !important;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
}
/*================DESKTOP====================*/
@media (min-width: 1200px) {
  body {
    color: orange;
  }
  .presentation-section {
    background-attachment: fixed;
  }
  .box-inner {
    width: 1200px;
  }
}
/*================low-resolution DESKTOP====================*/
@media (min-width: 991px) and (max-width: 1199px) {
  body {
    color: tomato;
  }
  .box-inner {
    width: 970px;
  }
  /**********************************END*******************************************/
  /*loop styles*/
  .content___loop .post .post-title {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
/*================TABLETS====================*/
@media (min-width: 769px) and (max-width: 992px) {
  body {
    color: lightblue;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.7em;
  }
  /**********************************END*******************************************/
  /*styles for class navigation*/
  .box-inner-navigation {
    display: inherit;
  }
  .box-nav-mobile {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
  }
  .nav-menu {
    border-top: thin solid #1899c4;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    display: none;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
  }
  .nav-menu .nav-menu-item {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .nav-menu .nav-menu-item:first-child {
    margin-top: 0;
  }
  .nav-icon-mobile {
    display: block;
  }
  .nav-icon-mobile i {
    background-color: #1aabdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    color: #0f0f0f;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.5em;
    cursor: pointer;
  }
  /**********************************END*******************************************/
  /*styles for presentation*/
  .presentation-section {
    min-height: 350px;
  }
  /**********************************END*******************************************/
  /*styles for search list*/
  .container-results {
    padding-right: 15px;
  }
  .list-results li p {
    font-size: 1em;
    margin: .3em 0;
  }
  /**********************************END*******************************************/
  .box-inner {
    width: 100%;
  }
  /**********************************END*******************************************/
  /*loop styles*/
  .content___loop .post {
    width: 48.5%;
  }
  /**********************************END*******************************************/
  /*styles post*/
  .read-next-story {
    overflow: hidden;
    min-height: 250px;
  }
  .read-next-story .post {
    min-height: 250px;
  }
  /**********************************END*******************************************/
  /*site footer*/
  .container-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .description,
  .copyright-and-social-networks {
    width: 100%;
  }
  .copyright-and-social-networks {
    text-align: left;
    border-top: thin dotted #006a93;
    margin-top: 1em;
    padding-top: 1em;
  }
}
/*================SMARTPHONES====================*/
@media (max-width: 768px) {
  body {
    color: #DA4848;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.7em;
  }
  /**********************************END*******************************************/
  .box-inner {
    width: 100%;
  }
  /*styles for class navigation*/
  .box-inner-navigation {
    display: inherit;
  }
  .box-nav-mobile {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
  }
  .nav-menu {
    border-top: thin solid #1899c4;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.3);
    display: none;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
  }
  .nav-menu .nav-menu-item {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .nav-menu .nav-menu-item:first-child {
    margin-top: 0;
  }
  .nav-icon-mobile {
    display: block;
  }
  .nav-icon-mobile i {
    background-color: #1aabdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    color: #0f0f0f;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.5em;
    cursor: pointer;
  }
  /**********************************END*******************************************/
  /*styles for search list*/
  .container-results {
    padding-right: 15px;
  }
  .list-results li p {
    font-size: 1em;
    margin: .3em 0;
  }
  /**********************************END*******************************************/
  /*styles for presentation*/
  .presentation-content {
    min-height: 350px;
  }
  .presentation-content .page-description {
    margin-left: 0;
    margin-right: 0;
  }
  .form-search input[type="text"] {
    width: 100%;
  }
  .box-field {
    width: 100%;
  }
  /**********************************END*******************************************/
  /*loop styles*/
  .content___loop .post {
    width: 100%;
  }
  .content___loop .post .post-title {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  /**********************************END*******************************************/
  /*styles post*/
  .post-footer .author-image {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
  }
  .post-footer .author {
    text-align: center;
    width: 100%;
  }
  aside.read-next {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  aside.read-next div {
    width: 100%;
  }
  .read-next-story {
    overflow: hidden;
    min-height: 200px;
  }
  .read-next-story .post {
    min-height: 200px;
  }
  .read-next-story .post h2 {
    font-size: 1.4em;
  }
  .next {
    margin-bottom: 1em;
  }
  /**********************************END*******************************************/
  /*site footer*/
  .container-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .description,
  .copyright-and-social-networks {
    width: 100%;
  }
  .copyright-and-social-networks {
    text-align: left;
    border-top: thin dotted #006a93;
    margin-top: 1em;
    padding-top: 1em;
  }
  .title-footer {
    font-size: 1em;
  }
}
/*================low-resolution SMARTPHONES====================*/
@media (max-width: 480px) {
  body {
    color: #2A8C38;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 0.9em;
  }
  h6 {
    font-size: 0.7em;
  }
  /**********************************END*******************************************/
  /*styles for presentation*/
  .presentation-section {
    min-height: 300px;
  }
  /**********************************END*******************************************/
  /*loop styles*/
  .content___loop .first-post .first-article-text {
    font-size: 1.2em;
  }
  .content___loop .post {
    width: 100%;
  }
  .content___loop .post .post-title {
    font-size: 1em;
    line-height: 1em;
    margin-top: 1.5em;
  }
  /**********************************END*******************************************/
  .box-newer-posts,
  .box-older-posts {
    width: 49%;
  }
  .newer-posts,
  .older-posts {
    border-radius: 0;
    width: 100%;
  }
  .page-number {
    display: none;
    visibility: hidden;
  }
  .box-older-posts {
    text-align: right;
  }
}
