//clases univesal
.site-wrapper{
	background: #F2F2F2;
}

.box-inner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix{
	clear: both;
}
.line{
	background: @border-color-item;
	margin: 5px 0;
	height: 2px;
	width: 100%;
}