.text-hide() {
  display: block;
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
	text-indent:-666em;
	overflow:hidden;
}
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
//formatting content for pages and articles
.format-body-post-page(){
  *{
    &:first-child{
      margin-top: 0;
    }
  }
  img{
    display: block;
    margin: .5em auto;
  }
}

.border-radius(@valor){
  border-radius: @valor;
  -webkit-border-radius: @valor;
  -moz-border-radius: @valor;
  -o-border-radius: @valor;
  -ms-border-radius: @valor;
}
.box-shadow(@valor){
  -webkit-box-shadow: @valor;
  -moz-box-shadow:    @valor;
  box-shadow:         @valor;
}
.title-underlining(@valor, @two){
  &::before{
    content: "";
    border: 3px solid @valor;
    position: absolute;
    bottom: @two;
    width: 25%;
  }
}
//Flexbox
.flex-box-display(){display:-webkit-flex;display:flex;}

.flex-box-j-c(@valor){
  .flex-box-display();
  -webkit-justify-content: @valor;
  justify-content: @valor;
}
.flex-box-f-d(@valor){
  .flex-box-display();
  -webkit-flex-direction: @valor;
  flex-direction: @valor;
}
.flex-box-loop(@valor){
  .flex-box-j-c(@valor);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
//*******************************END*********************************
//Buttons
// User select
// For selecting text on the page

.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
          user-select: @select;
}

// WebKit-style focus

.tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Opacity

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}
//*******************************END*********************************