@media (min-width: 768px){
	.box-inner {
	  width: 750px;
	}
}
@media (min-width: 992px){
	.box-inner {
	  width: 970px;
	}
}

@media (min-width: 1200px){
	.presentation-section{
		background-attachment: fixed;
	}
	.box-inner {
	  width: 1000px;
	}
}