//variables font-family
@font-family-lato: 'Lato', sans-serif;
@font-family-ds: 'Droid Sans', sans-serif;
@font-family-montserrat: 'Montserrat', sans-serif;

//variables navigation
@bg-navigation: #40bee8;
@color-text-link: #010210;

//name app
@color-name-app:#373737;
@color-name-app-hover:#292929;

//section presentation
@bg-no-cover: #D9E7FD;
@border-bottom-presentation: #062E6F;
@color-titles: #000017;
@color-text-presentation: #191919;

//search
@border-field: #010210;
@color-icon-search: #003D79;

@bg-box-results:#23222D;

//loop
@bg-post-item: #fff;
@border-color-item: #006A93;
@borde-color-thumb: lighten( @color-titles, 5%);
@color-title-post: @color-titles;
@border-color-read-more: #1F4F89;

//pagination
@bg-btn-pagination: #f9f9f9;
@bg-btn-pag-hover: #e9e9e9;
@border-btn-color-pag:#707070;

//footer
@bg-footer: #0F0F0F;

//colores
@color-white: #fff;
