//global variables
@bg-body: #F4F2F2;
@font-size-base: 4em;
@espacio-em: 2em;
@color-link:#0E83A9;
@color-link-hover:#075F7C;
@color-link-visited:#1D5669;
@z-index: 100;
@max-width: 900px;


//variables font-family
@font-family-lato: 'Lato', sans-serif;
@font-family-ds: 'Droid Sans', sans-serif;
@font-family-montserrat: 'Montserrat', sans-serif;
@font-family-fontAwesome: 'FontAwesome';

//variables navigation
@bg-navigation: #40bee8;
@color-text-link: #010210;
@color-icon-nav-mobile: #0F0F0F;

//name app
@color-name-app: #000017;
@color-name-app-hover: lighten(@color-name-app, 10%);

//presentation section
@bg-no-cover: #A5CCFB;
@border-bottom-presentation: #062E6F;
@color-titles: @color-name-app;
@color-text-presentation: #191919;
@bg-presentation-content:rgba(255, 255, 255, 0.5);

//search
@border-field: #003D79;
@color-icon-search: @border-field;

@bg-box-results:#23222D;

//loop
@bg-post-item: #fff;
@border-color-item: #006A93;
@borde-color-thumb: darken( @color-titles, 2%);
@color-title-post: @color-titles;
@border-color-read-more: #1F4F89;

//pagination
@bg-btn-pagination: lighten(@border-color-item, 10%);
@bg-btn-pag-hover: lighten(@border-color-item, 12%);
@border-color-btn-pag: rgba(5, 5, 50, 0.6);
@border-color-btn-pag-hover: #050232;

//posts
@bg-progress:#1986AA;
@bg-tags-link: @bg-navigation;

//footer
@bg-footer: #0F0F0F;
@border-redes-sociales: #00CA65;

//colores
@color-white: #fff;
@color-gray: #787878;
@color-black: #191919;
