<form class="form-search inner-box">
  <div class="box-field">
    <i class="fa fa-search icon-search" aria-hidden="true"></i>
    <input type="text" id="js_input_search" placeholder="Search...">
  </div>
</form>
<div class="container-results" id="js_container-results" style="display:none;">
    <span class="btn-results-close fa fa-times" id="js_results_close" title="Close" aria-hidden="true"></span>
    <ul class="results-list inner-box" id="js_results_list"></ul>
</div>