<form class="form-search box-inner">
  <div class="box-field">
    <i class="fa fa-search icon-search" aria-hidden="true"></i>
    <input type="text" id="js_campo_search" placeholder="Search...">
  </div>
</form>
<div class="box-results" id="js_box_results" style="display:none;">
  <span class="caret"></span>
  <div class="box-list-results  box-inner">
    <span class="btn-results-close fa fa-times" id="js_box_results_close" title="Close" aria-hidden="true"></span>
    <ul class="list-results" id="js_list_results"></ul>
  </div>
</div>